<table class="table table-bordered" [svData]="orders" 
#sv="svDataTable" [svRowsOnPage]="10" 
svSortOrder="asc">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of sv.data; index as i">
            <td *ngIf="order.shipping as shipping">{{shipping.name}}</td>
            <td>{{order.datePlaced | date:'longDate'}}</td>
            <td><a [routerLink]="['/order-detail',source,order.key]">View Details</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
            </td>
        </tr>
        </tfoot>
</table>