
<!--<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     <tr *ngFor="let order of orders; index as i">
        <td>{{order.shipping.name}}</td>
        <td>{{order.datePlaced | date: 'longDate'}}</td>
        <td><a [routerLink]="['/order-detail',keys[i]]">View Details</a></td>
    </tr>
    </tbody>
        
    
</table>-->

<show-orders [orders]="orders" [url]="url"></show-orders>
