.card{
    background-color: #c1d62e;
}

.custommize{
    border-color: cornsilk;
    bottom: -60px;
    right: -50px;
}


.img{
    border-radius: 5px;
    width: 50%;
    height: 250px;
    width: 60%;
    float: left;
    padding: 0;


}

.btn-primary{
    background-color: black;
    font-weight: bold;
}