.custommize{

    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;

}

.bg-dark{

    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;

}

.card{
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;

}